mixin videoBlock(vi = {})
  .videoBlock
    a(href=routes.videoDetail(vi.id))
      video.videoBlock__thumbnail(src=vi.videoFile,controls=true)
      h4.videoBlock__title=vi.title
      h6.videoBlock__views=vi.views
